/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: linear-gradient(#71a2b1, #3A5058);

}
.categoryClass{
    -fx-background-color: white;
    .label{
        -fx-alignment: center;
        
        -fx-text-fill: black;
    }
}

.label{
        -fx-alignment: center;
        
        -fx-text-fill: white;
    }
    
.button {
    -fx-shape: null;
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#71a2b1,#000000);
    -fx-effect: dropshadow( three-pass-box , rgba(0.7,0,0,0) , 5, 0.0 , 0 , 1 );
}
